{% extends 'base.html' %}

{% block head %}
<title>Add Liquid</title>
{% endblock %}

{% block body %}
<h1> Add a new liquid to the database </h1>

<hr> 
<form action='/admin/add_liquid' method='POST'>
	Name of Beverage: <input type='text' name='name' id='name' required>
	<br>
	Description: <input type='text' name='description' id='description' required>
	<br>
	Category: <input type='text' name='category' id='category' required>
	<br>
	Alcohol Volume:  <input type='number' name='alc_volume' id='alc_volume' required>
	<br>
	<input type='submit' value='Add Liquid'>
	</form>
<hr>

<h1> Existing Liquids </h1>

	{% for liquid in liquids  %}
		
		<h2>{{ liquid.name }}</h2>
		{{ liquid.description }}
		<br>Category: {{ liquid.alc_category }}
		<br>Alcohol Content: {{ liquid.alc_content }}%
		<br>
		<a href='/admin/liquid/delete/{{liquid.id}}'>Delete</a>
		<a href='/admin/liquid/edit/{{liquid.id}}'>Edit</a>
		<hr>
		
	{% endfor %}

{% endblock %}
