{% extends 'base.html' %}

{% block head %}
<title>Add Drink</title>
{% endblock %}

{% block body %}
<h1> Add a new drink to the database </h1>

<hr> 
<form action='/admin/add_drink' method='POST'>
	Title: <input type='text' name='title' id='title' required>
	<br>
	Description: <input type='text' name='description' id='description' required>
	<br>
	Liquid 1: <input type='text' name='liquid_1' id='liq_1' required>
	Amount in ml: <input type='number' name='ml_liquid_1' id='ml_liq_1' required>
	<br>
	Liquid 2: <input type='text' name='liquid_2' id='liq_2'>
        Amount in ml: <input type='text' name='ml_liquid_2' id='ml_liq_2'>
	<br>
	Liquid 3: <input type='text' name='liquid_3' id='liq_3'>
        Amount in ml: <input type='text' name='ml_liquid_3' id='ml_liq_3'>
	<br>
	Liquid 4: <input type='text' name='liquid_4' id='liq_4'>
        Amount in ml: <input type='text' name='ml_liquid_4' id='ml_liq_4'>
	<br>
	Liquid 5: <input type='text' name='liquid_5' id='liq_5'>
        Amount in ml: <input type='text' name='ml_liquid_5' id='ml_liq_5'>
	<br>
	<input type='submit' value='Add Drink'>
</form>
<hr>

{% endblock %}
