{% extends 'base.html' %}

{% block head %}
<title>Add Drink</title>
{% endblock %}

{% block body %}
<h1> Add a new drink to the database </h1>

<hr> 
<form action='/admin/add_drink' method='POST'>
	Title: <input type='text' name='title' id='title' required>
	<br>
	Description: <input type='text' name='description' id='description' required>
	<br>
	{% for i in range(6) %}
            Liquid {{i + 1}}: 
            <select name="liquid_{{i + 1}}" width="500px">
                <option value='' SELECTED></option>
            {% for o in options %}
                    <option value="{{ o.name }}">{{ o.name }}</option>
            {% endfor %}
            </select>
                Amount in ml: <input type='text' name='ml_liquid_{{i+1}}' id='ml_liq_{{i+1}}'>
            <br>
        {% endfor %}
	<input type='submit' value='Add Drink'>
</form>
<hr>
<h3>{{status_code}}</h3>

<h2>Available Drinks</h2>
	{% for drink in drinks %}
		<h2>{{ drink.title }}</h2>
		<p>{{ drink.description }}</p>
		<br>
		{% for recipe in get_recipes_for_drink(drink.id, all_recipes) %}
			<b>{{get_liquid_by_id(recipe.id_liquid, all_liquids)}}:</b> {{recipe.ml_liquid}}ml
			<br>
		{% endfor %}
		<br>
		<a href='/admin/drinks/delete/{{drink.id}}'>Delete</a>
		<a href='/admin/drinks/edit/{{drink.id}}'>Edit</a>
		<hr>
	{% endfor %}
{% endblock %}
