{% extends 'base.html' %}

{% block head %}
<title>Pump Action</title>
{% endblock %}

{% block body %}
    <h1> Start/Stop the pumps </h1>

    {% for gpio in gpio_settings.keys() %}
		<h2>{{ gpio }}</h2>
		<p> This activates pin: {{ gpio_settings[gpio]}} </p>
		<br>    
        <form class="edit_drink" action='/admin/pump_action/{{gpio}}' method='POST'>
            <input type="submit" value="Start" />
        </form>
        <form class="delete_drink" action='/admin/pump_action/{{gpio}}' method='POST'> 
            <input type="submit" value="Stop" />
        </form>
        <hr>
	{% endfor %}
    
{% endblock %}