<!--
    This will be the starting point of the cleaning process

    The process consists of: 
    1 - tell the user to get some kind of recipient and fill it with a given amount of cleaning product and water
    2 - ask the user to confirm that the liquid was prepared as requested
    3 - upon confirmation, block everything, and start cleaning phase one
    4 - after phase one, ask user to swap cleaning input with only water for this round
    5 - let water flow (make sure that enough water flows throught to really clean the pipes from the cleaning product)
    6 - let the user know that the cleaning process is now finished, and that everything can be removed. 
    7 - pump one final time to get as much liquid out of the pipes as possible. 

-->